body{
    background-color: black;
    color: white;
}

.profile-img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.main-con{
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sm-icons{
    margin: 30px 0;
}
.sm-icons .ig{
    padding: 0 20px;
}
.about-me{
    display: flex;
    gap: 10%;
    justify-content: space-between;
    width: 100%;
}
.about-title 
.about-con{
    width: 50%;
}
.chat-now{
    display: flex;
    align-items: center;
    gap: 2%;
}
.text-center{
    text-align: center;
}
.margin{
    margin: 7% 0;
}
.one{
    font-size: 50px;
    font-weight: 900;
}
.margin-para{
    font-weight: 900;
    font-size: 50px;
}